<section class="catalog-list">
  <div class="container-large">
    <ul class="catalog-list__list">
      <li class="catalog-list__col">
        <h4 class="catalog-list__col-title">Общетехнические
          манометры</h4>

        <div class="catalog-list__slider swiper" id="products-col-1">
          <ul class="catalog-list__items swiper-wrapper">
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-list__col">
        <h4 class="catalog-list__col-title">Общетехнические
          манометры</h4>

        <div class="catalog-list__slider swiper" id="products-col-2">
          <ul class="catalog-list__items swiper-wrapper">
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-list__col">
        <h4 class="catalog-list__col-title">Общетехнические
          манометры</h4>

        <div class="catalog-list__slider swiper" id="products-col-3">
          <ul class="catalog-list__items swiper-wrapper">
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-list__col">
        <h4 class="catalog-list__col-title">Общетехнические
          манометры</h4>

        <div class="catalog-list__slider swiper" id="products-col-4">
          <ul class="catalog-list__items swiper-wrapper">
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-list__col">
        <h4 class="catalog-list__col-title">Общетехнические
          манометры</h4>

        <div class="catalog-list__slider swiper" id="products-col-5">
          <ul class="catalog-list__items swiper-wrapper">
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
            <li class="catalog-list__item swiper-slide">
              <a class="catalog-list__item-link" href="#">
                <h5 class="catalog-list__item-name">Общетехнические манометры</h5>

                <span class="catalog-list__item-qty">5 товаров</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>