<div class="equipment-nav">
  <div class="container-large">
    <nav class="equipment-nav__nav">
      <ul class="equipment-nav__list">
        <li class="equipment-nav__item equipment-nav__item--active">
          <img class="equipment-nav__img" src="img/equipment-nav/1.png" alt="Картинка">
          <button class="equipment-nav__btn">Манометры</button>
        </li>
        <li class="equipment-nav__item">
          <img class="equipment-nav__img" src="img/equipment-nav/2.png" alt="Картинка">
          <button class="equipment-nav__btn">Термометры</button>
        </li>
        <li class="equipment-nav__item">
          <img class="equipment-nav__img" src="img/equipment-nav/3.png" alt="Картинка">
          <button class="equipment-nav__btn">Термоманометры</button>
        </li>
        <li class="equipment-nav__item">
          <img class="equipment-nav__img" src="img/equipment-nav/4.png" alt="Картинка">
          <button class="equipment-nav__btn">Доп. оборудование</button>
        </li>
      </ul>

      <a class="equipment-nav__link" href="#">
        Смотреть все
        <svg class="equipment-nav__link-icon" width="7" height="11" viewBox="0 0 7 11" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.987455 1.8243L1.1687 1.66472L0.987455 1.8243L4.15586 5.42296V5.57704L0.987455 9.1757C0.670848 9.5353 0.670849 10.1067 0.987455 10.4663C1.32046 10.8446 1.87515 10.8446 2.20815 10.4663L6.01254 6.14532C6.32915 5.78572 6.32915 5.21428 6.01254 4.85468L2.20815 0.533666C1.87515 0.155445 1.32046 0.155445 0.987455 0.533666L0.987455 0.533666C0.670848 0.893267 0.670848 1.4647 0.987455 1.8243Z"
            fill="#EE3732" stroke="#EE3732" stroke-width="0.5" />
        </svg>
      </a>
    </nav>
  </div>
</div>