<section class="hero-slider">
  <div class="container-large">
    <div class="hero-slider__wrapper">
      <div class="hero-slider__slider swiper">
        <ul class="hero-slider__slider-wrapper swiper-wrapper">
          <li class="hero-slider__item swiper-slide">
            <div class="hero-slider__item-cotent">
              <h1 class="hero-slider__item-title section-block">Изменение цен на термометры
                с 20 января 2025</h1>

              <a class="hero-slider__btn btn-red" href="#">Подробнее</a>
            </div>

            <img class="hero-slider__img" src="img/hero-slider/slider-img.png" alt="Картинка">
          </li>
          <li class="hero-slider__item swiper-slide">
            <div class="hero-slider__item-cotent">
              <h1 class="hero-slider__item-title section-block">Изменение цен на термометры
                с 20 января 2025</h1>

              <a class="hero-slider__btn btn-red" href="#">Подробнее</a>
            </div>

            <img class="hero-slider__img" src="img/hero-slider/slider-img.png" alt="Картинка">
          </li>
          <li class="hero-slider__item swiper-slide">
            <div class="hero-slider__item-cotent">
              <h1 class="hero-slider__item-title section-block">Изменение цен на термометры
                с 20 января 2025</h1>

              <a class="hero-slider__btn btn-red" href="#">Подробнее</a>
            </div>

            <img class="hero-slider__img" src="img/hero-slider/slider-img.png" alt="Картинка">
          </li>
          <li class="hero-slider__item swiper-slide">
            <div class="hero-slider__item-cotent">
              <h1 class="hero-slider__item-title section-block">Изменение цен на термометры
                с 20 января 2025</h1>

              <a class="hero-slider__btn btn-red" href="#">Подробнее</a>
            </div>

            <img class="hero-slider__img" src="img/hero-slider/slider-img.png" alt="Картинка">
          </li>
          <li class="hero-slider__item swiper-slide">
            <div class="hero-slider__item-cotent">
              <h1 class="hero-slider__item-title section-block">Изменение цен на термометры
                с 20 января 2025</h1>

              <a class="hero-slider__btn btn-red" href="#">Подробнее</a>
            </div>

            <img class="hero-slider__img" src="img/hero-slider/slider-img.png" alt="Картинка">
          </li>
        </ul>

        <div class="hero-slider__pagination slider-pagination"></div>
      </div>
    </div>
  </div>
</section>