:root {
  --font-family: 'Roboto', sans-serif;
  --content-width: 1436px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --orange-color: #ffba33;
  --white-color: #fff;
  --red-color: #ee3732;
  --bg-color: #333;
  --bg-light: rgba(0, 0, 0, 0.05);
  --black-color: #2c232c;
  --gray-txt: #6d6d6d;
}
